* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.mainPlace {
    width: 1110px;
    margin: 28px 165px 132px 165px;
}

/* header css */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.headerLeftSide{
    display: flex;
    align-items: center;
    gap: 56px;
    & > img {
        width: 137.5px;
        height: 20px;
    }
}
.headerListe {
    display: flex;
    gap: 32px;
}
.headerRightSide{
    display: flex;
    gap: 46px;
    align-items: center;
}
.logoDiv{
    position: relative;
}
.urunSayisi {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    background-color: #FFAB6A;
    color: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 2px;
   
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
hr{
    opacity: 40%;
    margin-top: 32px;
}

/* urun Alani */
/* left */
.urunAlani {
    margin: 0 auto;
    margin-top: 90px;
    width: 1015px;
    display: flex;
    gap: 125px;
}
.fotografAlani{
    width: 445px;
}
.buyukResim{
    width: 445px;
    height: 445px;
    margin-bottom: 32px;
    border: 2px;
    object-fit:contain;
}
.urunFotolari {
    display: flex;
    gap: 31px;
    /* width: 88px; */
    height:100px;
    border: 2px;
    overflow: auto;
}
/* right */
.urunBilgisiAlani{
    margin-top: 62px;
}
.companyName {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;   
    color: #FF7E1B;
}
.type {
    margin-top: 27px;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    color: #1D2026;
}
.desc {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #69707D;
}
.indirim-yuzde {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 28px;
}
.indirimliFiyat {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #1D2026;
}
.yuzde {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FF7E1B;
    background: #FFEEE2;
    border-radius: 5px;
    padding: 7px 8px 4px 8px;
}
.indirimsizFiyat {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #B6BCC8;
    margin-top: 10px;
}
.adet-ekleBtn {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.urunAdet {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 157px;
    height: 56px;
    background: #F6F8FD;
    border-radius: 8px;
    & > a {
        align-items: center;
    }
}

.addToChartBtn {
    width: 272px;
    height: 56px;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    background: #FF7E1B; 
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    & > img {
        margin-right: 15px;
    }
}
.addToChartBtn:hover {
    box-shadow: 0px 20px 50px -20px #FFAB6A;
    background: #FFAB6A;
}

.containerUrun {
    width: 1440px;
    margin: 0 auto;
}
.urunler {
    width: 1110px;
    margin: 28px 165px 132px 165px;
}
.allProducts {
    width:100%;
    margin-top: 80px;
    display: grid;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.urunDiv {
    /* width: 26%; */
    border: 2px solid #db9669;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    & > img {    
        border-radius: 20px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.urunBilgi {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.baslik {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #db9669;
}
.fiyat {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.urunAciklama {
    font-size: 17px;
    line-height: 20px;
    color:#60391f ;
}
.fiyat {
    margin-top: 15px;
}
.eskiFiyat {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #818181;
}
.yeniFiyat {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    color:rgb(233, 126, 126);  
}
.alisverisOnay {
    margin: 0 auto;
    margin-top: 250px;
    width: 400px;
    height: 200px;
    padding: 50px;
    border-radius: 10px;
    background: #f4f1ef;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    & > button {
        margin-top: 15px;
        padding: 10px;
        background-color:#FFAB6A;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 700;
        line-height: 15px;
        color: #fff;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFEEE2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* text-align: center; */
    & > hr {
        margin-top: 23px;
    }
    & > h2 {
        text-align: center;
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* text-align: center; */
}

.sidenav a:hover {
    color: #db9669;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.urunSepetBilgi {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sepetListe {
    /* display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; */
    /* gap: 15px; */
    border: 1px solid #b3b2b2;
    border-radius: 8px;
    padding: 5px;
}
.satici {
    border-bottom: 1px solid  #b3b2b2;
    padding: 5px;
    background-color: #e6d6cc;
    border-radius: 5px;
    & > span {
        font-weight: 700;
    }
}
.sepetMain {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.sepetMainFooter {
    display: flex;
    flex-direction: column;
    & > div {
        display: flex;
        gap: 17px;
    }
    & > p {
        color:#db9669 ;
    }
}
.sepetFoto{
    border-radius: 5px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

#addProduct {
    
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    & > div > label {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
    }
    & > div > input {
        border-radius: 8px;
        padding: 10px;
        height: 20px;
    }
    & > button {
        width: 150px;
        height: 30px;
        align-self: center;
        background-color: #db9669;
        color: #eae1db;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
    }
}
.editBtn, .deleteBtn {
    padding: 10px;
    align-self: start;
    background-color: #db9669;
    color: #eae1db;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
.duzenle, .sil {
    width: 150px;
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;   
}
.duzenle {
    background-color: #d1eeb4;
    color: #ab917e;   
}
.sil {
    background-color: #eb8563;
    color: #eae1db;    
}
table {
    margin: 0 auto;
}
td{
    padding: 10px;
    border-bottom: 2px solid;
}
th {
    padding: 10px;
    background-color: #FFEEE2;
    color: #e6af8b;
    height: 30px;
    text-align: start;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}